<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.xinsin.dao.ArticleMapper">

    <insert id="insertArticle" parameterType="top.xinsin.pojo.Article">
        insert into article(title, article, author, uuid) VALUES (#{title}, #{article}, #{author}, #{uuid});
    </insert>
    <update id="updateArticle" parameterType="top.xinsin.pojo.Article">
        update article set article=#{article}, time=#{time},title=#{title} where uuid=#{uuid};
    </update>
    <select id="selectArticleTitle" resultType="top.xinsin.pojo.Article">
        select * from article where title=#{title} and isdel = 0;
    </select>
    <select id="selectArticle" resultType="top.xinsin.pojo.Article">
        select * from article where isdel = 0;
    </select>
    <select id="selectArticleUUID" resultType="top.xinsin.pojo.Article">
        select * from article where uuid=#{uuid} and isdel = 0;
    </select>
    <select id="selectArticleUuid" resultType="top.xinsin.pojo.Article">
        select * from article where uuid=#{uuid} and isdel = 0;
    </select>
    <select id="selectArticleId" resultType="java.lang.Integer">
        select id from article where uuid=#{uuid} and isdel = 0;
    </select>
</mapper>